@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url(/assets/fonts/DroidSansMono.ttf) format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/assets/fonts/SourceCodePro-Regular.ttf) format('truetype');
}

#edit-button {
	top: 23px;
}

/*
 * post styles
 */

.post .post-actions {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0;
	float: right;
}

.post:hover .post-actions {
	opacity: 1;
}

.post .post-content {
	font-size: 1.414rem;
	line-height: 1.8rem;
}

.post ul {
    padding-left: 1em;
}

.post ul li > p {
	display: inline-block;
}

.post ul li {
	margin-left: 1em;
	list-style-type: disc;
}

.post img {
    max-width: 100%;
}

.post code {
    font-family: "Source Code Pro", "Droid Sans Mono", monospace;
}

/*
 * edit styles
 */

.markdown-input {
    font-family: "Source Code Pro", "Droid Sans Mono", monospace;
    /* materialize would override the font-size /wo !important  */
    font-size: 1.25em !important;
}

.input-field textarea {
	height: auto;
	max-height: 37vh;
	overflow-y: visible;
}

#edit-tab, #preview-tab {
    min-height: 50vh;
}

#preview-tab {
    padding: 1em 0;
}

#preview-tab .post-actions {
    display: none;
}
