{{ define "posts" }}
{{ template "header" .}}

			<div id="edit-button" class="fixed-action-btn">
				<a href="/posts/new" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Write a new post"><i class="mdi-content-add"></i></a>
			</div>

			{{ range $post := .posts }}
			{{ template "post" $post }}
			<hr />
			{{ end }}

{{ template "footer" . }}
{{ end }}
